<div class="layout-wrapper layout-static">
  <div class="layout-topbar">
    <ul id="menuDesktop" class="topbar-menu fadeInDown">
      <li #profile class="user-profile">
        <a (click)="salir()">
          <i class="topbar-icon fa fa-sign-out"></i>
          <span class="topbar-item-name">Cerrar Sesión</span>
        </a>
      </li>
      <li #notifications>
        <p style="color:#fff;font-weight: bold;padding-right: 20px;"> Bienvenido,
          {{seguridadService.usuarioLogueado.nombre}} </p>
      </li>
    </ul>
  </div>
  <div class="layout-menu-container">
    <div class="layout-menu-logo">
      <a href="#">
        <div style="font-size: 15px;vertical-align: middle;padding-top: 12%;font-weight: 900;color: #EF912D;">LOGO
          EMPRESA</div>
      </a>
    </div>
    <div class="layout-menu-wrapper">
      <p-scrollPanel #scrollPanelMenu [style]="{height: '100%' }">
        <div class="menu-scroll-content">
          <div
            style="background-color: #1E1E1E;color:#fff;text-align: center;padding: 20px;border-bottom: 2px solid #fff;">
            <a (click)="salir()" style="color:#fff;">
              <i class="fa fa-home" style="font-size: 25px;padding-right: 5px;"></i>
              <span style="font-size: 14px;font-weight: 700;">Inicio</span>
            </a>
          </div>
          <p-panelMenu [model]="listaMenuItem" [style]="{'width':'300px'}" [multiple]="false"></p-panelMenu>
        </div>
      </p-scrollPanel>
    </div>
  </div>
  <div class="layout-main">
    <!-- <app-migas-navegacion></app-migas-navegacion> -->
    <div #dgcontainer class="layout-content">
      <div class="p-grid">
        <div class="p-col">
          <p-table [value]="listaUsuarios">
            <ng-template pTemplate="caption">
              Lista de Usuarios
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Estado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
              <tr>
                <td>{{usuario.identificacion}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.codigoEstado}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>