@charset "UTF-8";
.login-body {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.login-body .login-panel {
  height: 100%;
  position: fixed;
  width: 100%;
}

.bg-image {
  filter: blur(8px);
  -webkit-filter: blur(2px);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  background-position: bottom;
}

.login-body .login-content {
  position: relative;
  padding: 80px 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f2f2f294;
}

.login-body .login-content img {
  display: inline-block;
  margin-bottom: 15%;
  width: 60%;
}

.login-body .login-content h1 {
  font-size: 25px;
  font-weight: 500;
  margin: 14px 0;
  color: #212121;
}

.login-body .login-content h1 span {
  color: #727272;
}

.login-body .login-content p {
  font-size: 15px;
  color: #727272;
  margin: 0 0 32px 0;
}

.login-body .login-content .login-input-wrapper {
  position: relative;
  width: 300px;
  margin-bottom: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.login-body .login-content .login-input-wrapper input {
  width: 100%;
  padding-right: 16px;
}

.login-body .login-content .login-input-wrapper i {
  position: absolute;
  color: #727272;
  font-size: 16px;
  top: 50%;
  right: 0.429em;
  margin-top: -8px;
}

.login-body .login-content button {
  min-width: 150px;
}

.wrapper-login {
  overflow: hidden;
  width: 100%;
  height: 99%;
}

.cajaContrasenia {
  margin: 20px;
  color: white;
  text-align: center;
  position: relative;
}

.textoContrasenia,
.numeroAyuda {
  color: #04486a !important;
  text-align: center !important;
  margin: 0;
}

.tituloAplicacion {
  text-align: center !important;
  margin-top: -75px !important;
  padding: 20px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.tituloAplicacion > span {
  color: #04486a !important;
}

.boton-ingresar {
  text-align: left;
}

@media screen and (min-width: 640px) {
  .bg-image {
    display: none;
  }
  html,
  body {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
  }
  .login-body .login-content img {
    display: inline-block;
    width: 60%;
  }
  .elemnt,
  .elemnt1,
  .elemnt2,
  .elemnt3 {
    position: absolute;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    display: inline-block;
    text-align: center;
  }
  .elemnt {
    animation: xfade 16s 8s infinite;
    background-image: url("./../../../assets/images/banner1.jpg");
    background-size: 100% 100%;
  }
  .elemnt1 {
    animation: xfade 16s 6s infinite;
    background-image: url("./../../../assets/images/banner2.jpg");
    background-size: 100% 100%;
  }
  .elemnt2 {
    animation: xfade 16s 2s infinite;
    background-image: url("./../../../assets/images/banner3.jpg");
    background-size: 100% 100%;
  }
  .elemnt3 {
    animation: xfade 16s 0s infinite;
    background-image: url("./../../../assets/images/banner4.jpg");
    background-size: 100% 100%;
  }
  @keyframes xfade {
    17% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    92% {
      opacity: 0;
    }
  }
  @keyframes xfade1 {
    17% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    92% {
      opacity: 0;
    }
  }
  @keyframes xfade2 {
    17% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    92% {
      opacity: 0;
    }
  }
  @keyframes xfade3 {
    17% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    92% {
      opacity: 0;
    }
  }
  .login-body {
    background: url("./../../../assets/images/banner3.jpg");
    background-size: cover;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .login-body .login-panel {
    padding: 80px;
    display: block;
    position: fixed;
    background-color: #f4f3f2;
    height: 200%;
    width: 83%;
    right: -50%;
    top: -50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .login-body .login-content {
    position: absolute;
    padding: 80px 0;
    margin: 0 auto;
    width: 25%;
    height: 100%;
    text-align: left;
    right: 62%;
    top: 25%;
  }
  .login-body .login-content .login-input-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  .login-body .login-content button {
    min-width: 150px;
  }
  .login-body .login-content h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 14px 0;
    color: #212121;
    text-align: left;
  }
  .login-body .login-content h1 span {
    color: #727272;
    text-align: left;
  }
  .login-body .login-content p {
    font-size: 15px;
    color: #727272;
    margin: 0 0 32px 0;
    text-align: left;
  }
  .tituloAplicacion {
    text-align: center !important;
    margin-top: -40% !important;
    padding: 20% !important;
    font-size: 25px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }
}

@media screen and (max-width: 768px) {
  .boton-ingresar {
    text-align: center;
  }
}
