<p-toast [style]="{marginTop: '80px'}"></p-toast>


<div class="login-body">
  <div class="bg-image"></div>
  <div class="wrapper-login">
    <div class="elemnt"></div>
    <div class="elemnt1"></div>
    <div class="elemnt2"></div>
    <div class="elemnt3"></div>
    <div class="login-panel">

      <div class="login-content">
        <img src="./assets/images/logo.jpeg" alt="logo" />

        <h1><span>Iniciar sesión </span></h1>
        <p>Bienvenido, ingrese sus credenciales para continuar.</p>
        <form [formGroup]="frmLogin">
          <div class="login-input-wrapper">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="position: relative;"><i class="fa fa-user"></i></span>
              <input id="txtUsuario" type="text" pInputText autocomplete="off" placeholder="Usuario" class="ui-inputtext ui-widget"
                formControlName="txtUsuario" style="width: 75%">
            </div>

            <div class="ui-g">
              <div class="ui-g-12">
                <p-message #msgUsuario for="txtUsuario" severity="error" [text]="frmLogin.controls['txtUsuario'].errors['required'] ? ' Campo Requerido':'' "
                  *ngIf="!frmLogin.controls['txtUsuario'].valid&&frmLogin.controls['txtUsuario'].dirty"></p-message>
              </div>
            </div>
          </div>

          <div class="login-input-wrapper">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="position: relative;"><i class="fa fa-key"></i></span>
              <input id="txtClave" type="password" autocomplete="off" placeholder="Clave" class="ui-inputtext ui-widget"
                formControlName="txtClave" style="width: 75%">
            </div>
            <div class="ui-g">
              <div class="ui-g-12">
                <p-message #msgClave for="txtClave" severity="error" [text]="frmLogin.controls['txtClave'].errors['required'] ? 'Campo Requerido':'' "
                  *ngIf="!frmLogin.controls['txtClave'].valid&&frmLogin.controls['txtClave'].dirty"></p-message>
              </div>
            </div>
          </div>

          <div class="boton-ingresar">
            <button (click)="ingresar()" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" [disabled]="!frmLogin.valid">
              <span class="ui-button-text ui-c"><i class="fa fa-check-square-o" style="padding-right: 10px;"></i>Ingresar</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast key="mensaje"></p-toast>