/* Add your variable customizations of layout here */

.loader-screen {
    width: 100%;
    min-height: 100%;
    background-color: #212121;
    position: absolute;
}

.loader-screen .loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 500;
}

.loader-screen .loader>div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    animation: delay 0.8s infinite ease-in-out;
}

.loader-screen .loader .bar1 {
    background-color: #754fa0;
}

.loader-screen .loader .bar2 {
    background-color: #09b7bf;
    animation-delay: -0.7s;
}

.loader-screen .loader .bar3 {
    background-color: #90d36b;
    animation-delay: -0.6s;
}

.loader-screen .loader .bar4 {
    background-color: #f2d40d;
    animation-delay: -0.5s;
}

.loader-screen .loader .bar5 {
    background-color: #fcb12b;
    animation-delay: -0.4s;
}

.loader-screen .loader .bar6 {
    background-color: #ed1b72;
    animation-delay: -0.3s;
}

@keyframes delay {
    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "cabin", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.layout-wrapper .route-bar {
    min-height: 32px;
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}

.layout-wrapper .route-bar .route-bar-breadcrumb {
    padding: 6px 25px;
    display: inline-block;
}

.layout-wrapper .route-bar .route-bar-breadcrumb li {
    margin-right: .25em;
    list-style-type: none;
    display: inline-block;
    color: #727272;
}

.layout-wrapper .route-bar .route-bar-breadcrumb li a {
    color: #727272;
}

.layout-wrapper .route-bar .route-bar-breadcrumb i,
.layout-wrapper .route-bar .route-bar-breadcrumb span {
    color: #727272;
}

.layout-mask {
    display: none;
    background-color: #252529;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 995;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.layout-wrapper .layout-topbar {
    position: fixed;
    height: 75px;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 998;
    padding: 8px 25px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-image: linear-gradient(to right, #ee8a21, #f2a34b);
}

.layout-wrapper .layout-topbar:after {
    content: "";
    display: table;
    clear: both;
}

.layout-wrapper .layout-topbar .layout-topbar-logo {
    display: none;
}

.layout-wrapper .layout-topbar .layout-topbar-logo img {
    margin-top: 10px;
    height: 18px;
}

.layout-wrapper .layout-topbar .layout-menu-button {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.layout-wrapper .layout-topbar .layout-menu-button i {
    line-height: inherit;
    font-size: 28px;
}

.layout-wrapper .layout-topbar .layout-menu-button:hover {
    background-color: #64b5f6;
}

.layout-wrapper .layout-topbar #topbar-menu-button {
    font-size: 28px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    display: none;
    float: right;
    text-align: center;
    color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.layout-wrapper .layout-topbar #topbar-menu-button i {
    line-height: inherit;
    font-size: 28px;
}

.layout-wrapper .layout-topbar #topbar-menu-button:hover {
    background-color: #64b5f6;
}

.layout-wrapper .layout-topbar .topbar-menu {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.layout-wrapper .layout-topbar .topbar-menu>li {
    float: right;
    position: relative;
    margin-left: 14px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>a {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.layout-wrapper .layout-topbar .topbar-menu>li>a .topbar-icon {
    color: #ffffff;
    line-height: inherit;
    font-size: 28px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>a>img {
    width: 36px;
    margin-top: 4px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>a:hover {
    background-color: #64b5f6;
}

.layout-wrapper .layout-topbar .topbar-menu>li>a .topbar-item-name {
    display: none;
}

.layout-wrapper .layout-topbar .topbar-menu>li>a .topbar-badge {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #e0284f;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    min-width: 16px;
    min-height: 16px;
    display: block;
    font-size: 12px;
    border-radius: 100%;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul {
    position: absolute;
    border: 1px solid #e0e0e0;
    top: 55px;
    right: -18px;
    display: none;
    min-width: 250px;
    background-color: #ffffff;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
    list-style-type: none;
    margin: 0;
    padding: 8px 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul:before,
.layout-wrapper .layout-topbar .topbar-menu>li>ul:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    left: 210px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul:before {
    border-color: rgba(216, 216, 220, 0);
    border-bottom-color: #e0e0e0;
    border-width: 10px;
    margin-left: -10px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul:after {
    border-color: rgba(244, 244, 249, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul a {
    box-sizing: border-box;
    padding: 8px 12px;
    text-align: left;
    display: block;
    width: 100%;
    color: #727272;
    position: relative;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul a i {
    margin-right: 8px;
    color: #727272;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul a img {
    margin-right: 8px;
    width: 24px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul a i,
.layout-wrapper .layout-topbar .topbar-menu>li>ul a img,
.layout-wrapper .layout-topbar .topbar-menu>li>ul a span {
    vertical-align: middle;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul a .topbar-submenuitem-badge {
    background-color: #e0284f;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    min-width: 16px;
    height: 16px;
    font-size: 12px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 8px;
}

.layout-wrapper .layout-topbar .topbar-menu>li>ul a:hover {
    background-color: #e0e0e0;
}

.layout-wrapper .layout-topbar .topbar-menu>li.active-topmenuitem>ul {
    display: block;
}

@media screen and (max-width: 896px) {
    .layout-wrapper .layout-topbar {
        text-align: center;
    }
    .layout-wrapper .layout-topbar .layout-topbar-logo {
        display: inline-block;
    }
    .layout-wrapper .layout-topbar #topbar-menu-button {
        display: block;
    }
    .layout-wrapper .layout-topbar .topbar-menu {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        position: absolute;
        top: 70px;
        right: 25px;
        width: 250px;
        -webkit-animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        animation-duration: 0.3s;
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 8px 12px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    }
    .layout-wrapper .layout-topbar .topbar-menu:before,
    .layout-wrapper .layout-topbar .topbar-menu:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        left: 225px;
    }
    .layout-wrapper .layout-topbar .topbar-menu:before {
        border-color: rgba(216, 216, 220, 0);
        border-bottom-color: #e0e0e0;
        border-width: 10px;
        margin-left: -10px;
    }
    .layout-wrapper .layout-topbar .topbar-menu:after {
        border-color: rgba(244, 244, 249, 0);
        border-bottom-color: #ffffff;
        border-width: 9px;
        margin-left: -9px;
    }
    .layout-wrapper .layout-topbar .topbar-menu.topbar-menu-visible {
        display: block;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li {
        width: 100%;
        margin: 0;
        float: none;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li.active-topmenuitem>ul {
        display: block;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li.user-profile>a img {
        margin-right: 8px;
        margin-top: 0;
        width: 24px;
        vertical-align: middle;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li a {
        box-sizing: border-box;
        height: auto;
        line-height: 1;
        width: 100%;
        display: block;
        padding: 8px 12px;
        position: relative;
        text-align: left;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li a .topbar-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        font-size: 16px;
        color: #727272;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li a:hover {
        background-color: #e0e0e0;
        color: #212121;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li a .topbar-item-name {
        display: inline-block;
        vertical-align: middle;
        color: #727272;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li a .topbar-badge {
        background-color: #e0284f;
        color: #ffffff;
        text-align: center;
        line-height: 16px;
        min-width: 16px;
        height: 16px;
        font-size: 12px;
        border-radius: 100%;
        display: inline-block;
        position: static;
        margin-left: 8px;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li>ul {
        display: none;
        list-style-type: none;
        padding: 0 0 0 0;
        margin: 0;
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        min-width: auto;
        border: 0 none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li>ul:before,
    .layout-wrapper .layout-topbar .topbar-menu>li>ul:after {
        display: none;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li>ul li a {
        padding-left: 28px;
    }
    .layout-wrapper .layout-topbar .topbar-menu>li>ul li a img {
        margin-right: 8px;
    }
}

.layout-wrapper .layout-menu-container .layout-profile.layout-profile-active .layout-profile-icon {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-button {
    padding: 20px 12px;
    display: block;
    position: relative;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-button:after {
    content: "";
    display: table;
    clear: both;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-button img {
    width: 36px;
    display: inline-block;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo .layout-profile-name {
    display: inline-block;
    font-weight: 700;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo .layout-profile-role {
    display: block;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-button .layout-profile-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu {
    list-style: none;
    padding: 0 12px;
    margin: 0;
    overflow: hidden;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li a {
    display: block;
    padding: 8px 4px;
    text-align: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li a i {
    margin-right: 8px;
    vertical-align: middle;
}

.layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li a span {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}

.layout-wrapper .layout-menu-container .layout-menu {
    list-style-type: none;
    padding: 14px 12px 0 12px;
    margin: 0;
    height: 100%;
}

.layout-wrapper .layout-menu-container .layout-menu li a {
    display: block;
    padding: 8px 0;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.layout-wrapper .layout-menu-container .layout-menu li a:focus {
    outline: 0 none;
}

.layout-wrapper .layout-menu-container .layout-menu li a .layout-menuitem-icon {
    margin-right: 6px;
    vertical-align: middle;
}

.layout-wrapper .layout-menu-container .layout-menu li a .layout-menuitem-text {
    vertical-align: middle;
}

.layout-wrapper .layout-menu-container .layout-menu li a .layout-submenu-toggler {
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 16px;
    margin-top: -8px;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.layout-wrapper .layout-menu-container .layout-menu li a .menuitem-badge {
    position: absolute;
    display: block;
    right: 24px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    top: 50%;
    font-size: 12px;
    margin-top: -10px;
    font-weight: 700;
    background-color: #2196F3;
    color: #ffffff;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.layout-wrapper .layout-menu-container .layout-menu li.active-menuitem>a .layout-submenu-toggler {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.layout-wrapper .layout-menu-container .layout-menu li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.layout-wrapper .layout-menu-container .layout-menu li ul li a {
    padding-left: 4px;
}

.layout-wrapper .layout-menu-container .layout-menu li ul li li a {
    padding-left: 16px;
}

.layout-wrapper .layout-menu-container .layout-menu li ul li li li a {
    padding-left: 32px;
}

.layout-wrapper .layout-menu-container .layout-menu li ul li li li li a {
    padding-left: 48px;
}

.layout-wrapper .layout-menu-container .layout-menu li ul li li li li li a {
    padding-left: 64px;
}

.layout-wrapper .layout-menu-container .layout-menu li ul li li li li li li a {
    padding-left: 80px;
}

.layout-wrapper .layout-menu-container .layout-menu li ul li ul {
    overflow: hidden;
}

.layout-wrapper .layout-menu-container .layout-menu>li {
    margin-bottom: 16px;
}

.layout-wrapper .layout-menu-container .layout-menu>li>a {
    display: none;
}

.layout-wrapper .layout-menu-container .layout-menu>li>div {
    margin-bottom: 4px;
}

.layout-wrapper .layout-menu-container .layout-menu .layout-menu-tooltip {
    display: none;
    padding: 0 5px;
    position: absolute;
    left: 61px;
    top: 17px;
    line-height: 1;
}

.layout-wrapper .layout-menu-container .layout-menu .layout-menu-tooltip .layout-menu-tooltip-text {
    padding: 6px 8px;
    font-weight: 700;
    background-color: #212121;
    color: #ffffff;
    min-width: 75px;
    white-space: nowrap;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
}

.layout-wrapper .layout-menu-container .layout-menu .layout-menu-tooltip .layout-menu-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #212121;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-content {
    overflow-x: hidden;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
    background-color: #aaaaaa;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-hidden {
    display: block;
    visibility: hidden;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar-x {
    display: none;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .menu-scroll-content {
    width: 268px;
    padding-right: 18px;
    padding-bottom: 120px;
}

.layout-wrapper.layout-menu-light .layout-menu-container {
    background-color: #ffffff;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu-wrapper {
    border-right: 1px solid #E0E0E0;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile {
    border-bottom: 1px solid #E0E0E0;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile a .layout-profile-name {
    color: #727272;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile a .layout-profile-role {
    color: #727272;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile a .layout-profile-icon {
    color: #727272;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile a:hover {
    background-color: #e0e0e0;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile .layout-profile-menu a {
    color: #727272;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile .layout-profile-menu a i {
    color: #727272;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-profile .layout-profile-menu a:hover {
    background-color: #e0e0e0;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu li a .layout-menuitem-text {
    color: #727272;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu li a .layout-menuitem-icon,
.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu li a .layout-submenu-toggler {
    color: #727272;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu li a:hover {
    background-color: #e0e0e0;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu li a.active-route .layout-menuitem-text,
.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu li a.active-route .layout-menuitem-icon {
    color: #2196F3;
}

.layout-wrapper.layout-menu-light .layout-menu-container .layout-menu>li>div {
    color: #727272;
}

.layout-wrapper.layout-menu-dark .layout-menu-container {
    background-color: #212121;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu-wrapper {
    border-right: 1px solid #212121;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile {
    border-bottom: 1px solid #373737;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile a .layout-profile-name {
    color: #BDBDBD;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile a .layout-profile-role {
    color: #979797;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile a .layout-profile-icon {
    color: #BDBDBD;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile a:hover {
    background-color: #373737;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile .layout-profile-menu a {
    color: #BDBDBD;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile .layout-profile-menu a i {
    color: #BDBDBD;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-profile .layout-profile-menu a:hover {
    background-color: #373737;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu li a .layout-menuitem-text {
    color: #BDBDBD;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu li a .layout-menuitem-icon,
.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu li a .layout-submenu-toggler {
    color: #BDBDBD;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu li a:hover {
    background-color: #373737;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu li a.active-route .layout-menuitem-text,
.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu li a.active-route .layout-menuitem-icon {
    color: #2196F3;
}

.layout-wrapper.layout-menu-dark .layout-menu-container .layout-menu>li>div {
    color: #757575;
}

.layout-wrapper .layout-main {
    padding-top: 0px;
    border: 10px solid #F2F2F2;
}

.layout-wrapper .layout-main .layout-content {
    padding: 16px;
    background-color: #fff
}

@media screen and (min-width: 897px) {
    .layout-wrapper.layout-static .layout-menu-container {
        width: 250px;
        left: 0;
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
        -webkit-transition: left 0.3s;
        transition: left 0.3s;
    }
    .layout-wrapper.layout-static .layout-main {
        margin-left: 250px;
        -moz-transition: margin-left 0.3s;
        -o-transition: margin-left 0.3s;
        -webkit-transition: margin-left 0.3s;
        transition: margin-left 0.3s;
    }
    .layout-wrapper.layout-static .layout-footer {
        padding-left: 270px;
    }
    .layout-wrapper.layout-static.layout-static-inactive .layout-topbar {
        left: 0;
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
        -webkit-transition: left 0.3s;
        transition: left 0.3s;
    }
    .layout-wrapper.layout-static.layout-static-inactive .layout-menu-container {
        left: -250px;
    }
    .layout-wrapper.layout-static.layout-static-inactive .layout-main {
        margin-left: 0;
    }
    .layout-wrapper.layout-static.layout-static-inactive .layout-footer {
        padding-left: 20px;
    }
    .layout-wrapper.layout-static.layout-static-inactive-restore .layout-menu-container {
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }
    .layout-wrapper.layout-overlay .layout-topbar {
        left: 0;
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
        -webkit-transition: left 0.3s;
        transition: left 0.3s;
    }
    .layout-wrapper.layout-overlay .layout-menu-container {
        width: 250px;
        left: -250px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
        -webkit-transition: left 0.3s;
        transition: left 0.3s;
    }
    .layout-wrapper.layout-overlay .layout-menu-container .layout-menu,
    .layout-wrapper.layout-overlay .layout-menu-container .layout-profile {
        border-right: 0 none;
    }
    .layout-wrapper.layout-overlay.layout-overlay-active .layout-topbar {
        left: 250px;
    }
    .layout-wrapper.layout-overlay.layout-overlay-active .layout-menu-container {
        left: 0;
    }
    .layout-wrapper.layout-slim .layout-topbar {
        left: 60px;
    }
    .layout-wrapper.layout-slim .layout-topbar .layout-menu-button {
        display: none;
    }
    .layout-wrapper.layout-slim .layout-main {
        margin-left: 60px;
    }
    .layout-wrapper.layout-slim .layout-menu-container {
        padding: 0;
        height: 100%;
        width: 60px;
        overflow: visible;
        top: 0;
        position: fixed;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu-logo {
        overflow: hidden;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu-logo a img {
        margin-top: 12px;
        height: 36px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper {
        overflow: visible;
    }
    .layout-wrapper.layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
        overflow: visible;
    }
    .layout-wrapper.layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
        display: none;
    }
    .layout-wrapper.layout-slim .layout-menu-container .ui-scrollpanel .menu-scroll-content {
        width: 100%;
        padding: 0;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-button {
        text-align: center;
        padding: 12px 0;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-button img {
        width: 32px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo,
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-button .layout-profile-icon {
        display: none;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu {
        position: absolute;
        overflow: auto;
        top: 0;
        left: 59px;
        min-width: 250px;
        max-height: 450px;
        display: none;
        border-left: 4px solid #00527b;
        padding: 8px 12px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu:before,
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        left: 210px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu:before {
        border-color: rgba(216, 216, 220, 0);
        border-bottom-color: #e0e0e0;
        border-width: 10px;
        margin-left: -10px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu:after {
        border-color: rgba(244, 244, 249, 0);
        border-bottom-color: #ffffff;
        border-width: 9px;
        margin-left: -9px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu li a {
        padding: 8px 12px;
        -moz-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile.layout-profile-active .layout-profile-menu {
        display: block;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu {
        padding: 0;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu li.active-menuitem>ul {
        display: block;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li {
        position: relative;
        margin-bottom: 0;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li.active-menuitem>a {
        background-color: #2196F3;
        -moz-border-radius-topright: 0;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li.active-menuitem>a .layout-menuitem-text,
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li.active-menuitem>a .layout-menuitem-icon,
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li.active-menuitem>a .layout-submenu-toggler {
        color: #ffffff;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>div {
        display: none;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>a {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 19px;
        padding-bottom: 19px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>a .layout-menuitem-icon {
        font-size: 24px;
        margin-right: 0;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>a .layout-menuitem-text,
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>a .layout-submenu-toggler {
        display: none;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>a:hover+.layout-menu-tooltip {
        display: block;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul {
        position: absolute;
        overflow: auto;
        top: 0;
        left: 59px;
        min-width: 250px;
        max-height: 450px;
        display: none;
        border-left: 4px solid #00527b;
        padding: 8px 12px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li a {
        padding: 8px 12px;
        display: block;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li ul {
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li ul li a {
        padding-left: 28px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li ul li li a {
        padding-left: 44px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li ul li li li a {
        padding-left: 60px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li ul li li li li a {
        padding-left: 76px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li ul li li li li li a {
        padding-left: 92px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li>ul li ul li li li li li li a {
        padding-left: 108px;
    }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu>li.active-menuitem>a:hover+.layout-menu-tooltip {
        display: none;
    }
    .layout-wrapper.layout-slim.layout-menu-light .layout-menu-container .layout-menu>li>ul {
        background-color: #ffffff;
    }
    .layout-wrapper.layout-slim.layout-menu-light .layout-menu-container .layout-profile-menu {
        background-color: #ffffff;
    }
    .layout-wrapper.layout-slim.layout-menu-dark .layout-menu-container .layout-menu>li>ul {
        background-color: #212121;
    }
    .layout-wrapper.layout-slim.layout-menu-dark .layout-menu-container .layout-profile-menu {
        background-color: #212121;
    }
    .layout-wrapper.layout-horizontal .layout-topbar {
        left: 0;
    }
    .layout-wrapper.layout-horizontal .layout-topbar .layout-topbar-logo {
        display: inline-block;
    }
    .layout-wrapper.layout-horizontal .layout-topbar .layout-menu-button {
        display: none;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container {
        width: 100%;
        height: 46px;
        top: 60px;
        z-index: 99;
        position: fixed;
        padding: 5px 12px;
        -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu-logo {
        display: none;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile {
        border-bottom: 0 none;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 0;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-button {
        padding: 0;
        margin-top: 2px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-button img {
        width: 32px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo,
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-button .layout-profile-icon {
        display: none;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-button:hover {
        background-color: transparent;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu {
        position: absolute;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        right: -20px;
        top: 50px;
        min-width: 250px;
        -webkit-animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        animation-duration: 0.3s;
        padding: 8px 12px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu:before,
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        left: 210px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu:before {
        border-color: rgba(216, 216, 220, 0);
        border-bottom-color: #e0e0e0;
        border-width: 10px;
        margin-left: -10px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu:after {
        border-color: rgba(244, 244, 249, 0);
        border-bottom-color: #ffffff;
        border-width: 9px;
        margin-left: -9px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu li a {
        padding: 8px 12px;
        color: #727272;
        -moz-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu li a i {
        color: #727272;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile .layout-profile-menu li a:hover {
        background-color: #e0e0e0;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-profile.layout-profile-active .layout-profile-menu {
        display: block;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu {
        margin: 0;
        padding: 0;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu li.active-menuitem>ul {
        display: block;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li {
        display: inline-block;
        width: auto;
        padding: 0;
        position: relative;
        margin-bottom: 0;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li.active-menuitem>a {
        background-color: #2196F3;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li.active-menuitem>a .layout-menuitem-text,
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li.active-menuitem>a .layout-menuitem-icon,
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li.active-menuitem>a .layout-submenu-toggler {
        color: #ffffff;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>div {
        display: none;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>a {
        display: block;
        padding: 8px 12px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>a i {
        position: static;
        margin-top: 0;
        vertical-align: middle;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul {
        display: none;
        top: 33px;
        left: 0;
        min-width: 250px;
        position: absolute;
        margin: 0;
        padding: 8px 12px;
        max-height: 450px;
        overflow: auto;
        border-top: 4px solid #00527b;
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
        box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li a {
        padding: 8px 12px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li a .layout-menuitem-icon {
        margin-right: 8px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li li a {
        padding-left: 28px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li li li a {
        padding-left: 44px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li li li li a {
        padding-left: 60px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li li li li li a {
        padding-left: 76px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li li li li li li a {
        padding-left: 92px;
    }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu>li>ul>li li li li li li li a {
        padding-left: 108px;
    }
    .layout-wrapper.layout-horizontal .layout-main {
        padding-top: 106px;
    }
    .layout-wrapper.layout-horizontal .ui-scrollpanel .ui-scrollpanel-wrapper {
        overflow: visible;
    }
    .layout-wrapper.layout-horizontal .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
        overflow: visible;
        padding: 0;
    }
    .layout-wrapper.layout-horizontal .ui-scrollpanel .ui-scrollpanel-bar {
        display: none;
    }
    .layout-wrapper.layout-horizontal .ui-scrollpanel .menu-scroll-content {
        width: 100%;
        padding: 0;
    }
    .layout-wrapper.layout-horizontal.layout-menu-light .layout-menu-container {
        border-bottom: 1px solid #E0E0E0;
    }
    .layout-wrapper.layout-horizontal.layout-menu-light .layout-menu-container .layout-menu-wrapper {
        border-right: 0 none;
    }
    .layout-wrapper.layout-horizontal.layout-menu-light .layout-menu-container .layout-menu>li>ul {
        background-color: #ffffff;
    }
    .layout-wrapper.layout-horizontal.layout-menu-dark .layout-menu-container {
        border-bottom: 1px solid #212121;
    }
    .layout-wrapper.layout-horizontal.layout-menu-dark .layout-menu-container .layout-profile {
        border-right: 0 none;
    }
    .layout-wrapper.layout-horizontal.layout-menu-dark .layout-menu-container .layout-menu {
        border-right: 0 none;
    }
    .layout-wrapper.layout-horizontal.layout-menu-dark .layout-menu-container .layout-menu>li>ul {
        background-color: #212121;
    }
}

@media screen and (max-width: 896px) {
    .layout-wrapper .layout-topbar {
        left: 0;
    }
    .layout-wrapper .layout-menu-container {
        top: 0;
        width: 250px;
        left: -250px;
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
        -webkit-transition: left 0.3s;
        transition: left 0.3s;
    }
    .layout-wrapper .layout-main {
        margin-left: 0;
        -moz-transition: margin-left 0.3s;
        -o-transition: margin-left 0.3s;
        -webkit-transition: margin-left 0.3s;
        transition: margin-left 0.3s;
    }
    .layout-wrapper.layout-mobile-active .layout-menu-container {
        left: 0;
    }
    .layout-wrapper.layout-mobile-active .layout-mask {
        display: block;
    }
    body.blocked-scroll {
        overflow: hidden;
    }
}

.layout-footer {
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #e8e8e8;
}

.layout-footer img {
    height: 30px;
    margin-top: 4px;
}

.layout-footer .footer-icons {
    text-align: right;
}

.layout-footer .footer-icons a {
    color: #727272;
    font-size: 24px;
    margin-right: 16px;
    display: inline-block;
    margin-top: 6px;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.layout-footer .footer-icons a:hover {
    color: #212121;
}

/* Utils */

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    border-radius: 3px;
    background: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #EEEEEE;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.card.card-w-title {
    padding-bottom: 16px;
}

.card.no-gutter {
    margin-bottom: 0;
}

.card h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
}

.card h1:first-child {
    margin-top: 0px;
}

.card h2 {
    font-size: 18px;
    font-weight: 400;
}

.card h3 {
    font-size: 16px;
    font-weight: 400;
}

.card h4 {
    font-size: 14px;
    font-weight: 400;
}

.nopad {
    padding: 0;
}

.nopad .ui-panel-content {
    padding: 0;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

.ui-g {
    -ms-flex-wrap: wrap;
}

.layout-wrapper .layout-ajax-loader {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.layout-wrapper .layout-ajax-loader .layout-ajax-loader-icon {
    color: #00527b;
    font-size: 32px;
}

.layout-dashboard .overview-box {
    padding: 16px;
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.layout-dashboard .overview-box:after {
    content: "";
    display: table;
    clear: both;
}

.layout-dashboard .overview-box .overview-icon {
    font-size: 48px;
    float: right;
}

.layout-dashboard .overview-box .overview-title {
    margin-bottom: 8px;
    display: inline-block;
    font-size: 18px;
}

.layout-dashboard .overview-box .overview-arrow {
    color: #ffffff;
    margin-left: 8px;
    font-size: 16px;
}

.layout-dashboard .overview-box .overview-numbers {
    margin-bottom: 12px;
    font-size: 18px;
}

.layout-dashboard .overview-box .overview-subinfo {
    font-size: 13px;
    border-left: 4px solid;
    margin-left: -16px;
    padding-left: 12px;
}

.layout-dashboard .overview-box.sales {
    background-color: #42A5F5;
}

.layout-dashboard .overview-box.sales .overview-icon {
    color: #BBDEFB;
}

.layout-dashboard .overview-box.sales .overview-subinfo {
    border-color: #BBDEFB;
    color: #BBDEFB;
}

.layout-dashboard .overview-box.views {
    background-color: #7E57C2;
}

.layout-dashboard .overview-box.views .overview-icon {
    color: #D1C4E9;
}

.layout-dashboard .overview-box.views .overview-subinfo {
    border-color: #D1C4E9;
    color: #D1C4E9;
}

.layout-dashboard .overview-box.users {
    background-color: #FFB300;
}

.layout-dashboard .overview-box.users .overview-icon {
    color: #FFECB3;
}

.layout-dashboard .overview-box.users .overview-subinfo {
    border-color: #FFECB3;
    color: #FFECB3;
}

.layout-dashboard .overview-box.checkin {
    background-color: #66BB6A;
}

.layout-dashboard .overview-box.checkin .overview-icon {
    color: #FFF8E1;
}

.layout-dashboard .overview-box.checkin .overview-subinfo {
    border-color: #FFF8E1;
    color: #FFF8E1;
}

.layout-dashboard .tasks {
    min-height: 300px;
}

.layout-dashboard .tasks ul {
    padding: 0;
    margin: 0;
}

.layout-dashboard .tasks ul li {
    list-style: none;
    padding: 12px;
    border-bottom: 1px solid #ebebef;
    position: relative;
}

.layout-dashboard .tasks ul li:first-child {
    padding-top: 0;
}

.layout-dashboard .tasks ul li:last-child {
    border-bottom: 0 none;
}

.layout-dashboard .tasks ul li .ui-chkbox {
    margin-right: 8px;
    vertical-align: middle;
}

.layout-dashboard .tasks ul li>span {
    vertical-align: middle;
}

.layout-dashboard .tasks ul li .task-badge {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.layout-dashboard .tasks ul li .task-badge.red {
    background-color: #E91E63;
}

.layout-dashboard .tasks ul li .task-badge.orange {
    background-color: #FF9800;
}

.layout-dashboard .tasks ul li .task-badge.green {
    background-color: #4CAF50;
}

.layout-dashboard .resolution-center {
    min-height: 300px;
}

.layout-dashboard .resolution-center label {
    display: block;
    margin-bottom: 6px;
}

.layout-dashboard .resolution-center .ui-inputtext {
    width: 100%;
    margin-bottom: 16px;
}

.layout-dashboard .resolution-center .ui-inputtextarea {
    width: 100%;
    margin-bottom: 16px;
}

.layout-dashboard .resolution-center .resolution-button-bar {
    text-align: right;
    margin-top: 16px;
}

.layout-dashboard .resolution-center .resolution-button-bar .ui-button {
    width: auto;
    margin-left: 12px;
    min-width: 100px;
}

.layout-dashboard .team {
    min-height: 300px;
}

.layout-dashboard .team ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.layout-dashboard .team ul li {
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

.layout-dashboard .team ul li:after {
    content: "";
    display: table;
    clear: both;
}

.layout-dashboard .team ul li:first-child {
    padding-top: 0;
}

.layout-dashboard .team ul li:last-child {
    border-bottom: 0 none;
}

.layout-dashboard .team ul li:nth-child(1) .team-member-role {
    background-color: #2196F3;
    color: #ffffff;
}

.layout-dashboard .team ul li:nth-child(2) .team-member-role {
    background-color: #4CAF50;
    color: #ffffff;
}

.layout-dashboard .team ul li:nth-child(3) .team-member-role {
    background-color: #FFC107;
    color: #212121;
}

.layout-dashboard .team ul li:nth-child(4) .team-member-role {
    background-color: #9C27B0;
    color: #ffffff;
}

.layout-dashboard .team ul li img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.layout-dashboard .team ul li .team-box {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}

.layout-dashboard .team ul li .team-box .team-member {
    text-align: left;
    display: block;
    font-weight: 600;
    color: #252529;
    font-size: 14px;
}

.layout-dashboard .team ul li .team-box .team-member-role {
    border-radius: 4px;
    padding: 4px;
    font-size: 11px;
}

.layout-dashboard .team ul li a {
    float: right;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-left: 6px;
    text-align: center;
    margin-top: 4px;
}

.layout-dashboard .team ul li a i {
    line-height: inherit;
    font-size: 22px;
    color: #525257;
}

.layout-dashboard .statistics h1 {
    margin-top: 0;
}

.layout-dashboard .user-card {
    padding: 0;
}

.layout-dashboard .user-card .user-card-header {
    height: 100px;
    overflow: hidden;
    background: #ffe0ee;
}

.layout-dashboard .user-card .user-card-header img {
    width: 100%;
    height: 100%;
}

.layout-dashboard .user-card .user-card-content img {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 24px;
}

.layout-dashboard .user-card .user-card-content .ui-button {
    float: right;
    width: 36px;
    height: 36px;
    margin: -20px 24px 0 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.layout-dashboard .user-card .user-card-content .user-card-name {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: -60px;
    margin-left: 100px;
    font-weight: 700;
    white-space: nowrap;
}

.layout-dashboard .user-card .user-card-content .user-detail {
    text-align: left;
}

.layout-dashboard .user-card .user-card-content .user-detail ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li {
    padding: 16px 24px;
    border-bottom: 1px solid #e0e0e0;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:after {
    content: "";
    display: table;
    clear: both;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:last-child {
    border-bottom: 0 none;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li i {
    font-size: 24px;
    margin-right: 8px;
    width: 32px;
    vertical-align: middle;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li .project-title {
    font-weight: 700;
    margin-right: 8px;
    vertical-align: middle;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li .project-detail {
    color: #727272;
    vertical-align: middle;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li .project-progressbar {
    width: 100px;
    background-color: #e0e0e0;
    float: right;
    margin-top: 12px;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li .project-progressbar .project-progressbar-value {
    height: 4px;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(1) .project-progressbar-value {
    background-color: #009688;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(1) i {
    color: #009688;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(2) .project-progressbar-value {
    background-color: #4CAF50;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(2) i {
    color: #4CAF50;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(3) .project-progressbar-value {
    background-color: #9C27B0;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(3) i {
    color: #9C27B0;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(4) .project-progressbar-value {
    background-color: #FFC107;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(4) i {
    color: #FFC107;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(5) .project-progressbar-value {
    background-color: #00BCD4;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(5) i {
    color: #00BCD4;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(6) .project-progressbar-value {
    background-color: #607D8B;
}

.layout-dashboard .user-card .user-card-content .user-detail ul li:nth-child(6) i {
    color: #607D8B;
}

.layout-dashboard .timeline ul {
    padding: 0;
    margin: 0;
}

.layout-dashboard .timeline ul li {
    list-style: none;
    padding: 22px 0px;
    position: relative;
}

.layout-dashboard .timeline ul li:nth-child(1) .timeline-icon {
    background-color: #673AB7;
}

.layout-dashboard .timeline ul li:nth-child(2) .timeline-icon {
    background-color: #9C27B0;
}

.layout-dashboard .timeline ul li:nth-child(3) .timeline-icon {
    background-color: #2196F3;
}

.layout-dashboard .timeline ul li:nth-child(4) .timeline-icon {
    background-color: #009688;
}

.layout-dashboard .timeline ul li .activity-link {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 0;
    background-color: #e0e0e0;
    display: inline-block;
}

.layout-dashboard .timeline ul li .timeline-icon {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.layout-dashboard .timeline ul li .timeline-icon i {
    font-size: 14px;
    color: #ffffff;
    line-height: inherit;
}

.layout-dashboard .timeline ul li .timeline-content {
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding: 16px;
    margin-left: 48px;
    margin-top: -4px;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.layout-dashboard .timeline ul li .timeline-content h3 {
    color: #212121;
    font-size: 14px;
    margin: 0;
    font-weight: 700;
}

.layout-dashboard .timeline ul li .timeline-content p {
    margin: 8px 0;
    color: #727272;
}

.layout-dashboard .timeline ul li .timeline-content img {
    margin: 8px 4px;
}

.layout-dashboard .timeline ul li .timeline-content .timeline-footer {
    margin: 0 -16px -16px -16px;
    background-color: #eeeeee;
    border-top: 1px solid #e0e0e0;
    padding: 4px 16px;
}

.layout-dashboard .timeline ul li .timeline-content .timeline-footer i {
    color: #757575;
}

.layout-dashboard .timeline ul li .timeline-content .timeline-footer span {
    color: #757575;
    margin-left: 8px;
}

.layout-dashboard .timeline ul li .timeline-content:before,
.layout-dashboard .timeline ul li .timeline-content:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 16px;
}

.layout-dashboard .timeline ul li .timeline-content:before {
    border-color: rgba(216, 216, 220, 0);
    border-right-color: #e0e0e0;
    border-width: 10px;
    margin-top: -10px;
}

.layout-dashboard .timeline ul li .timeline-content:after {
    border-color: rgba(244, 244, 249, 0);
    border-right-color: #ffffff;
    border-width: 9px;
    margin-top: -9px;
}

.layout-dashboard .global-sales .ui-table th {
    border: 0 none;
    text-align: left;
}

.layout-dashboard .global-sales .ui-table tr {
    border: 0 none;
}

.layout-dashboard .global-sales .ui-table tr td {
    border: 0 none;
}

.layout-dashboard .global-sales .ui-table tr.ui-state-highlight,
.layout-dashboard .global-sales .ui-table tr.ui-state-hover {
    border: 0 none;
}

.layout-dashboard .global-sales .ui-table .ui-paginator {
    border: 0 none;
}

.layout-dashboard .global-sales .ui-table button:last-child {
    margin-left: 6px;
}

.layout-dashboard .live-support ul {
    padding: 12px;
    margin: 0;
    list-style-type: none;
}

.layout-dashboard .live-support ul li {
    padding: 12px;
}

.layout-dashboard .live-support ul li .p-col-fixed {
    width: 48px;
}

.layout-dashboard .live-support ul li img {
    width: 36px;
}

.layout-dashboard .live-support ul li .chat-message {
    position: relative;
    padding: 8px;
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.layout-dashboard .live-support ul li:nth-child(1) .chat-message {
    background-color: #2196F3;
}

.layout-dashboard .live-support ul li:nth-child(1) .chat-message:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 16px;
}

.layout-dashboard .live-support ul li:nth-child(1) .chat-message:before {
    border-right-color: #2196F3;
    border-width: 10px;
    margin-top: -10px;
}

.layout-dashboard .live-support ul li:nth-child(2) .chat-message {
    background-color: #FFC107;
    color: #212121;
}

.layout-dashboard .live-support ul li:nth-child(2) .chat-message:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 16px;
}

.layout-dashboard .live-support ul li:nth-child(2) .chat-message:before {
    border-left-color: #FFC107;
    border-width: 10px;
    margin-top: -10px;
}

.layout-dashboard .live-support ul li:nth-child(3) .chat-message {
    background-color: #673AB7;
}

.layout-dashboard .live-support ul li:nth-child(3) .chat-message:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 16px;
}

.layout-dashboard .live-support ul li:nth-child(3) .chat-message:before {
    border-right-color: #673AB7;
    border-width: 10px;
    margin-top: -10px;
}

.layout-dashboard .live-support .new-message {
    border: 1px solid #ebebef;
    border-right: 0 none;
}

.layout-dashboard .live-support .new-message input {
    border: 0 none;
    font-size: 14px;
    width: 100%;
    padding: .5em;
    background-color: transparent;
    outline: 0 none;
    color: #727272;
    font-family: "cabin", sans-serif;
}

.layout-dashboard .live-support .new-message .p-col-fixed {
    width: 100px;
}

.layout-dashboard .live-support .new-message .p-col-fixed .ui-button {
    width: 100px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.login-body {
    padding: 0;
    margin: 0;
}

.login-body .login-content {
    position: fixed;
    padding: 80px 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.login-body .login-content img {
    display: inline-block;
    margin-bottom: 160px;
    width: 200px;
}

.login-body .login-content h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 14px 0;
    color: #212121;
}

.login-body .login-content h1 span {
    color: #727272;
}

.login-body .login-content p {
    font-size: 17px;
    color: #727272;
    margin: 0 0 32px 0;
}

.login-body .login-content .login-input-wrapper {
    position: relative;
    width: 300px;
    margin-bottom: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.login-body .login-content .login-input-wrapper input {
    width: 100%;
    padding-right: 16px;
}

.login-body .login-content .login-input-wrapper i {
    position: absolute;
    color: #727272;
    font-size: 16px;
    top: 50%;
    right: .429em;
    margin-top: -8px;
}

.login-body .login-content button {
    min-width: 150px;
}

.wrapper-login {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 640px) {
    html,
    body {
        width: 100%;
        height: 100%;
    }
    body {
        margin: 0;
    }
}

.landing-body {
    background-color: #ffffff;
}

.landing-body .layout-mask {
    display: block;
}

.landing-body .landing-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.landing-body .landing-wrapper #landing-menu {
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 14px 0 0 0;
}

.landing-body .landing-wrapper #landing-menu li {
    display: inline-block;
    margin-left: 14px;
}

.landing-body .landing-wrapper #landing-menu li:first-child {
    margin-left: 0;
}

.landing-body .landing-wrapper #landing-menu li a {
    font-size: 14px;
    font-weight: 600;
    color: #525257;
    padding: 4px 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.landing-body .landing-wrapper #landing-menu li a:hover {
    background-color: #252529;
    color: #ffffff;
}

.landing-body .landing-wrapper #header {
    border-bottom: 1px solid #d8d8dc;
}

.landing-body .landing-wrapper #header .header-top {
    padding: 20px 140px 0 140px;
}

.landing-body .landing-wrapper #header .header-top:after {
    content: "";
    display: table;
    clear: both;
}

.landing-body .landing-wrapper #header .header-top .logo {
    height: 40px;
}

.landing-body .landing-wrapper #header .header-top #landing-menu-button {
    display: none;
    color: #000000;
    float: right;
    margin-top: 8px;
    text-align: center;
}

.landing-body .landing-wrapper #header .header-top #landing-menu-button img {
    width: 6px;
    margin-right: 10px;
}

.landing-body .landing-wrapper #header .header-content {
    padding: 120px 0 120px 140px;
}

.landing-body .landing-wrapper #header .header-content h1 {
    font-size: 42px;
    font-weight: 700;
    color: #252529;
    margin-top: 48px;
    margin-bottom: 24px;
    max-width: 400px;
}

.landing-body .landing-wrapper #header .header-content p {
    font-size: 17px;
    margin-bottom: 24px;
    color: #8b8b90;
}

.landing-body .landing-wrapper #features {
    padding: 42px 140px;
    background-color: #ffffff;
    text-align: center;
}

.landing-body .landing-wrapper #features h1 {
    font-size: 28px;
    color: #252529;
    margin: 0 0 6px 0;
}

.landing-body .landing-wrapper #features p {
    font-size: 21px;
    color: #8b8b90;
    margin: 0;
}

.landing-body .landing-wrapper #features .p-grid {
    margin-top: 42px;
}

.landing-body .landing-wrapper #features .p-grid .p-col-12 {
    padding: 1em;
}

.landing-body .landing-wrapper #features .p-grid .feature-box {
    padding: 24px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.landing-body .landing-wrapper #features .p-grid .feature-box h3 {
    font-size: 21px;
    font-weight: 700;
    color: #252529;
    margin: 8px 0;
}

.landing-body .landing-wrapper #features .p-grid .feature-box p {
    margin: 0;
    font-size: 15px;
    color: #8b8b90;
}

.landing-body .landing-wrapper #promo {
    padding: 42px 140px;
    border-top: 5px solid #00527b;
    background-color: #f2f2f2;
    position: relative;
}

.landing-body .landing-wrapper #promo h1 {
    font-size: 28px;
    color: #252529;
    margin: 0 0 16px 0;
}

.landing-body .landing-wrapper #promo p {
    font-size: 17px;
    color: #525257;
    margin: 0 0 16px 0;
}

.landing-body .landing-wrapper #promo img {
    position: absolute;
    right: 140px;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}

.landing-body .landing-wrapper #pricing {
    padding: 42px 140px;
    background-color: #ffffff;
    text-align: center;
}

.landing-body .landing-wrapper #pricing>h1 {
    font-size: 28px;
    color: #252529;
    margin: 0 0 6px 0;
}

.landing-body .landing-wrapper #pricing>p {
    font-size: 21px;
    color: #8b8b90;
    margin: 0;
}

.landing-body .landing-wrapper #pricing .p-grid {
    margin-top: 42px;
}

.landing-body .landing-wrapper #pricing .p-grid .p-col-12 {
    padding: 28px;
}

.landing-body .landing-wrapper #pricing .pricing-box {
    min-height: 450px;
    padding: 16px 48px;
    background-color: #f2f2f2;
    color: #525257;
    border: 2px solid transparent;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.landing-body .landing-wrapper #pricing .pricing-box h3 {
    margin: 0 0 42px 0;
}

.landing-body .landing-wrapper #pricing .pricing-box .pricing-intro {
    color: #8b8b90;
}

.landing-body .landing-wrapper #pricing .pricing-box p {
    font-size: 14px;
    margin: 14px 0;
}

.landing-body .landing-wrapper #pricing .pricing-box ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    text-align: left;
}

.landing-body .landing-wrapper #pricing .pricing-box ul li {
    padding: 12px;
}

.landing-body .landing-wrapper #pricing .pricing-box ul li i {
    color: #1fc4ac;
}

.landing-body .landing-wrapper #pricing .pricing-box:hover {
    border-color: #00527b;
}

.landing-body .landing-wrapper #multimedia {
    padding: 42px 140px;
    text-align: center;
    background-color: #f2f2f2;
}

.landing-body .landing-wrapper #multimedia>h1 {
    font-size: 28px;
    color: #252529;
    margin: 0 0 6px 0;
}

.landing-body .landing-wrapper #multimedia>p {
    font-size: 21px;
    color: #8b8b90;
    margin: 0;
}

.landing-body .landing-wrapper #multimedia .video-container {
    margin-top: 42px;
}

.landing-body .landing-wrapper #multimedia .video-container iframe {
    width: 560px;
    height: 315px;
}

.landing-body .landing-wrapper #footer {
    background-color: #252529;
    padding: 42px 140px;
    text-align: left;
}

.landing-body .landing-wrapper #footer .footer-logo {
    height: 32px;
}

.landing-body .landing-wrapper #footer .footer-menu span {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #8b8b90;
    display: block;
}

.landing-body .landing-wrapper #footer .footer-menu a {
    margin: 8px 0;
    display: block;
    color: #f4f4f9;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.landing-body .landing-wrapper #footer .footer-menu a:hover {
    color: #ffffff;
}

.landing-body .landing-wrapper #footer .footer-menu .icon-link {
    display: inline-block;
    margin-top: 30px;
}

.landing-body .landing-wrapper #footer .footer-menu .icon-link .icon {
    color: #ffffff;
    font-size: 22px;
    margin-right: 18px;
}

@media screen and (min-width: 992px) {
    .landing-body .landing-wrapper #header .header-content {
        
        background-position: right 50%;
        background-size: 35%;
    }
}

@media screen and (max-width: 991px) {
    .landing-body.landing-menu-active .landing-wrapper #landing-menu {
        right: 0;
    }
    .landing-body .landing-wrapper #landing-menu {
        width: 250px;
        height: 100%;
        right: -250px;
        background-color: #252529;
        position: fixed;
        top: 0;
        margin: 0;
        z-index: 999;
        -moz-transition: right 0.3s;
        -o-transition: right 0.3s;
        -webkit-transition: right 0.3s;
        transition: right 0.3s;
    }
    .landing-body .landing-wrapper #landing-menu>li {
        display: block;
        margin: 0;
    }
    .landing-body .landing-wrapper #landing-menu>li a {
        font-size: 18px;
        display: block;
        color: #8b8b90;
        padding: 12px 24px;
    }
    .landing-body .landing-wrapper #header .header-top {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-body .landing-wrapper #header .header-top #landing-menu-button {
        display: inline-block;
    }
    .landing-body .landing-wrapper #header .header-content {
        padding-left: 20px;
        background-position: right 50%;
    }
    .landing-body .landing-wrapper #features {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-body .landing-wrapper #promo {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .landing-body .landing-wrapper #promo img {
        position: static;
        margin: 16px auto 0 auto;
        display: block;
    }
    .landing-body .landing-wrapper #pricing {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-body .landing-wrapper #multimedia {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-body .landing-wrapper #multimedia .video-container iframe {
        width: auto;
        height: auto;
    }
    .landing-body .landing-wrapper #footer {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .landing-body .landing-wrapper #footer .footer-menu span {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .landing-body .landing-wrapper #header .header-content h1 {
        font-size: 18px;
    }
    .landing-body .landing-wrapper #header .header-content p {
        font-size: 14px;
        max-width: 250px;
    }
}

/* cabin-300 - latin-ext_latin */

@font-face {
    font-family: 'cabin';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cabin-v12-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("cabin Light"), local("cabin-Light"), url("../fonts/cabin-v12-latin-regular.eot#iefix") format("embedded-opentype"), url("../fonts/cabin-v12-latin-regular.woff2") format("woff2"), url("../fonts/cabin-v12-latin-regular.woff") format("woff"), url("../fonts/cabin-v12-latin-regular.ttf") format("truetype"), url("../fonts/cabin-v12-latin-regular.svg#cabin") format("svg");
    /* Legacy iOS */
}

/* cabin-regular - latin-ext_latin */

@font-face {
    font-family: 'cabin';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/cabin-v12-latin-500.eot");
    /* IE9 Compat Modes */
    src: local("cabin Regular"), local("cabin-Regular"), url("../fonts/cabin-v12-latin-500.eot#iefix") format("embedded-opentype"), url("../fonts/cabin-v12-latin-500.woff2") format("woff2"), url("../fonts/cabin-v12-latin-500.woff") format("woff"), url("../fonts/cabin-v12-latin-500.ttf") format("truetype"), url("../fonts/cabin-v12-latin-500.svg#cabin") format("svg");
    /* Legacy iOS */
}

/* cabin-700 - latin-ext_latin */

@font-face {
    font-family: 'cabin';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cabin-v12-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("cabin Bold"), local("cabin-Bold"), url("../fonts/cabin-v12-latin-700.eot#iefix") format("embedded-opentype"), url("../fonts/cabin-v12-latin-700.woff2") format("woff2"), url("../fonts/cabin-v12-latin-700.woff") format("woff"), url("../fonts/cabin-v12-latin-700.ttf") format("truetype"), url("../fonts/cabin-v12-latin-700.svg#cabin") format("svg");
    /* Legacy iOS */
}

.layout-wrapper .layout-menu-container {
    height: 100%;
}

.layout-wrapper .layout-menu-container .layout-menu-wrapper {
    width: 100%;
    height: 100%;
}

.layout-wrapper .layout-menu-container .layout-menu-logo a {
    display: block;
    text-align: left;
    height: 75px;
    padding-left: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.layout-wrapper .layout-menu-container .layout-menu-logo a img {
    margin-top: 15px;
    height: 75%;
}

/* Add your customizations of layout here */
